@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


* {
  list-style : none;
}
body {
  margin: 0;
  background-color: rgb(244, 244, 244);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.container {
  align-content: center;
  width: 70%;
  background-color: rgb(255, 255, 255);
}

.card-content {
  width: 300px;
  border: 1px solid black;
  padding: 50px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 100px;
}

.card-content img {
  width: 90%;
  border-radius: 5px;
  box-shadow: -3px 3px 10px 3px #242323;
}

.result-container {
  width: 100%;
  display: flex;
  justify-content: center;
}